

#nav {
	border:solid pink 2px;
}

nav
# a span {
	display: inline;
}

span + span {
	margin-left: 10px;	
}


#waifu img {
	float:right;
}

.waifuinfo table {
	border-collapse: collapse;
	width:100%;
}

.waifuinfo th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.waifuinfo th {
    background-color: #FF69B4;
    color: white;
}

.waifuinfo {
	float:left;
	width: 50%;
}

.waifudescrip {
	border:solid pink 2px;
}





