h3 {
/*color: #FF8BC6;*/
font-family: arial, sans-serif;
font-size: 25px
}

h4 {
/*color: #FF97CB;*/
font-family: arial, sans-serif;
font-size: 20px

#stats {
color: #FFA2D1;
font-family: arial, sans-serif;
text-align: left;
}

.character{
margin-left: auto;
}
